<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>eCommunity</title>
        <meta name="description" content="The Future Community">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
            
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">

        <!--NavBar-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--Store Cards-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        
        <!--NavBar-->
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img  id="cart-icon" src="{% static 'images/gift.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i><h5>Home</h5><span class="sr-only">(current)</span></a>
                        <a class="nav-link navbar-brand my-2 my-sm-0 lg-2 text-center">eCommunity<span class="sr-only">(current)</span></a>
                    </li>
                </ul>          
                <a class="navbar-brand" href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/sleigh.png' %}">
                </a>
            </div>
        </nav>
        <!--EndNAv-->

        <div class="container">
            <br>
            {% block content %}
            
            
            {% endblock content %}
        </div>

        <!--SnowPile-->


		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    
    </body>
</html>