{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-white">
    <h1 style="text-align: center"><strong>Congratulations, you're now registered!</strong></h1>
    <h3 style="text-align: center">What are you waiting for? Go help some local businesses out, and merry Christmas!</h2>

    <br>
    <a class="btn btn-success btn-lg" href="{% url 'home' %}" style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;">Start Shopping!</a>
</div>

{% endblock content %}