{% extends 'home/main.html' %}
{% load static %}
{% block content %}

<div class="header">
    <div style="background: url(static{{vendor.bannerURL}})" class="jumbotron">
        <div class="wrapper-sd py-5 text-center">
            <h1 class="display-4"><strong>{{vendor.store_name}}</strong></h1>
            <p>{{vendor.description}}</p>
        </div>
    </div>
</div>
  
<div class="container py-5">
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <div class="card">
                <div style="background: url(static{{product.imageURL}})" class="card-img-top"></div>
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <button data-product={{product.id}} data-action="add" class="change-cart add-btn btn btn-outline-success">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}