@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.snow-pile{
    background: red;
    position: absolute;
}

body{
    background:#192226 !important;
    font-family: 'Montserrat', sans-serif;
    /* background: #112233; */
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

footer{ 
  margin-top: auto;
}

#cart-icon{
	width:60px;
	display: inline-block;
	margin-left: 15px;
}

.container{
    max-width: 1600px !important;
}