
.snow img{
    width: 15px;
    animation: snow 7s linear infinite;
}

.snow {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    position: fixed;
    top:-160px;
    z-index: 0;
}

@keyframes snow{
    0%{
        transform:translateY(0);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    85%{
        opacity:1;
    }
    100%{
        transform:translateY(+200vh);
        opacity:0;
        bottom:0px;
    }
}

.snow img:nth-child(1){
    animation-delay:1s;
}

.snow img:nth-child(2){
    animation-delay:0s;
}

.snow img:nth-child(3){
    animation-delay:4s;
}

.snow img:nth-child(4){
    animation-delay:3s;
}

.snow img:nth-child(5){
    animation-delay:6.5s;
}

.snow img:nth-child(6){
    animation-delay:2.5s;
}

.snow img:nth-child(7){
    animation-delay:1s;
}

.snow img:nth-child(8){
    animation-delay:4.5;
}

.snow img:nth-child(9){
    animation-delay:3s;
}

.snow img:nth-child(10){
    animation-delay:5s;
}

.snow img:nth-child(11){
    animation-delay:5.5s;
}

.snow img:nth-child(12){
    animation-delay:2s;
}

.snow img:nth-child(13){
    animation-delay:0.5s;
}

.snow img:nth-child(14){
    animation-delay:1.5s;
}

.snow img:nth-child(15){
    animation-delay:4s;
}

.snow img:nth-child(16){
    animation-delay:1s;
}

.snow img:nth-child(17){
    animation-delay:2.5s;
}

.snow img:nth-child(18){
    animation-delay:6s;
}

.snow img:nth-child(19){
    animation-delay:0s;
}

.snow img:nth-child(20){
    animation-delay:4.5s;
}
