.jumbotron{
    color: white;
    background-size: cover !important;
    border-radius: 0% !important;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    position: relative;
}

.wrapper-sd{
    position: relative;
    z-index: 1;
}

.card {
    margin: 60px auto;
    height: 400px;
    width: 450px;
    background: #fff;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-width: 0px !important;
    border-radius: 0% !important;

}

.card-img-top {
    position: relative;
    height: 370px;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    text-align: center;
}

.header .jumbotron::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}


/* .header:after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
} */
